{% extends 'blank.html' %}
{%load staticfiles%}
{% block page.content %}
<div class="unwrap">
   <div style="background-color:#333;" class="bg-cover">
      <div class="p-xl text-center text-white">
         <img src={% static 'img/no-avatar.jpg' %}  alt="Image" class="img-thumbnail img-circle thumb128">
         <h3 class="m0">{{ object.first_name }} {{ object.last_name }}</h3>
         <p>Lead director</p>
      </div>
   </div>
   <div class="text-center bg-gray-dark p-lg mb-xl">
      <div class="row row-table">
      </div>
   </div>
   <div class="p-lg">
      <div class="row">
         <div class="col-lg-3">
                      <div class="panel panel-default">
               <div class="panel-body">
                  <div class="text-center">
                     <h3 class="mt0">Contacto de Emergencia</h3>
                     <p>Lead director</p>
                  </div>
                  <hr>
                  <ul class="list-unstyled ph-xl">
                     <li>
                        <em class="fa fa-home fa-fw mr-lg"></em>Somewhere, Neverland</li>
                     <li>
                        <em class="fa fa-briefcase fa-fw mr-lg"></em><a href="#">Themicon.co</a>
                     </li>
                     <li>
                        <em class="fa fa-graduation-cap fa-fw mr-lg"></em>Master Designer</li>
                  </ul>
               </div>
            </div>
           
           
         </div>
         <div class="col-lg-6">
                    <div class="panel panel-default">
               <div class="panel-body">
                  <div class="text-center">
                     <h3 class="mt0">Información Personal</h3>
                     <p>Lead director</p>
                  </div>
                  <hr>
                  <ul class="list-unstyled ph-xl">
                     <li>
                        <em class="fa fa-home fa-fw mr-lg"></em>Somewhere, Neverland</li>
                     <li>
                        <em class="fa fa-briefcase fa-fw mr-lg"></em><a href="#">Themicon.co</a>
                     </li>
                     <li>
                        <em class="fa fa-graduation-cap fa-fw mr-lg"></em>Master Designer</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <div class="panel panel-default">
               <div class="panel-body">
                  <div class="text-center">
                     <h3 class="mt0">Datos de Contratación</h3>
                     <p>Lead director</p>
                  </div>
                  <hr>
                  <ul class="list-unstyled ph-xl">
                     <li>
                        <em class="fa fa-home fa-fw mr-lg"></em>Somewhere, Neverland</li>
                     <li>
                        <em class="fa fa-briefcase fa-fw mr-lg"></em><a href="#">Themicon.co</a>
                     </li>
                     <li>
                        <em class="fa fa-graduation-cap fa-fw mr-lg"></em>Master Designer</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}