{% extends 'blank.html' %}
{% load staticfiles %}
{% block page.content %}
<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
   <div class="panel-heading">{{ page }}</div>
   <!-- START table-responsive-->
   <div class="table-responsive">
      <table id="table-ext-1" class="table table-bordered table-hover" style="margin-bottom:5em;">
         <thead>
            <tr>
               <th>UID</th>
               <th>Imagen</th>
               <th>Usuario</th>
               <th>Nombre(s)</th>
               <th>Apellido(s)</th>
               <th>Email</th>
               <th>Último Acceso</th>
               <th>Rol</th>
            </tr>
         </thead>
         <tbody>
         	{% for object in object_list %}
            <tr>
            	<td>{{ forloop.counter }}</td>
				<td>
					<div class="user-block-picture">
						<div class="user-block-status">
							<img src={% static 'app/img/no-avatar.jpg' %} alt="Avatar" class="img-thumbnail img-circle" width="60" height="60">
							{% if object.is_active == True %}<div class="circle circle-success circle-lg"></div>{% else %}<div class="circle circle-danger circle-lg"></div>{% endif %}
						</div>
					</div>
				</td>
            	<td>
            		<div class="btn-group mb-sm">
            			<button aria-expanded="false" type="button" data-toggle="dropdown" class="btn btn-link dropdown-toggle" style="text-align:left">@{{ object.username }}<span class="caret"></span></button>
        				<ul role="menu" class="dropdown-menu">
							<li><a href={% url 'users_view' object.username %}>Ver</a></li>
							<li><a href="#">Suspender</a></li>
							<li class="divider"></li>
							<li><a href="#">Eliminar</a>
							</li>
						</ul>
					</div>
				</td>
				<td>{{ object.first_name }}</td>
				<td>{{ object.last_name }}</td>
				<td>{{ object.email }}</td>
				<td>{% if object.last_login%}hace {{ object.last_login|timesince }}{% endif %}</td>
				<td>{{ object.groups.all.0|capfirst }} </td>
				</tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <div class="panel-footer">
      <div class="row">
         <div class="col-lg-10">
         	<nav>
         		<ul class="pagination">
         		{% if page_obj.has_previous %}<li><a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>{% endif %}
               {% for page in paginator.page_range %}
               <li {% if page == page_obj.number %}class="active"{% endif %}>
                  <a href="?page={{ page }}">{{ page }}</a>
               </li>
               {% endfor %}
					{% if page_obj.has_next %}<li><a href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>{% endif %}
                </ul>
            </nav>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
               <input type="text" placeholder="Buscar..." class="input-sm form-control">
               <span class="input-group-btn">
                  <button type="button" class="btn btn-sm btn-default">Buscar</button>
               </span>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>
{{ p.count }}
{% endblock %}