{% extends 'blank.html' %}
{% block page.content %}
<div class="row">
   <div class="col-lg-3 col-sm-6" onclick="location.href='url'" style="cursor: pointer;">
      <!-- START widget-->
      <div class="panel widget bg-primary">
         <div class="row row-table">
         	<div class="col-xs-4 text-center bg-primary-dark pv-lg" >
               <em class="icon-cloud-upload fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0">1700</div>
               <div class="text-uppercase">Uploads</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-sm-6">
      <!-- START widget-->
      <div class="panel widget bg-purple">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-purple-dark pv-lg">
               <em class="icon-globe fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0">700
                  <small>GB</small>
               </div>
               <div class="text-uppercase">Quota</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-12">
      <!-- START widget-->
      <div class="panel widget bg-green">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-green-dark pv-lg">
               <em class="icon-bubbles fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0">500</div>
               <div class="text-uppercase">Reviews</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-12">
      <!-- START date widget-->
      <div class="panel widget">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
               <div data-now="" data-format="MMMM" class="text-sm">October</div>
               <br>
               <div data-now="" data-format="D" class="h2 mt0">5</div>
            </div>
            <div class="col-xs-8 pv-lg">
               <div data-now="" data-format="dddd" class="text-uppercase">Wednesday</div>
               <br>
               <div data-now="" data-format="h:mm" class="h2 mt0">11:02</div>
               <div data-now="" data-format="a" class="text-muted text-sm">am</div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="panel panel-default">
   <div class="panel-heading">{{ page }}</div>
   <div class="panel-body">
      <form id="example-form" action="">
      {% csrf_token %}
         <div>
            <h4>Detalles de cuenta
               <br>
               <small>Nam egestas, leo eu gravida tincidunt</small>
            </h4>
            <fieldset>
            	{{ form.as_p }}
            </fieldset>
            <h4>Profile
               <br>
               <small>Nam egestas, leo eu gravida tincidunt</small>
            </h4>
            <fieldset>
               {{ profile_form.as_p }}
            </fieldset>
            <h4>Hints
               <br>
               <small>Nam egestas, leo eu gravida tincidunt</small>
            </h4>
            <fieldset>
               <p class="lead text-center">Almost there!</p>
            </fieldset>
            <h4>Finish
               <br>
               <small>Nam egestas, leo eu gravida tincidunt</small>
            </h4>
            <fieldset>
               <p class="lead">One last check</p>
               <div class="checkbox c-checkbox">
                  <label>
                     <input type="checkbox" required="required" name="terms">
                     <span class="fa fa-check"></span>I agree with the Terms and Conditions.</label>
               </div>
            </fieldset>
         </div>
      </form>
   </div>
</div>


{% endblock %}