{% extends 'blank.html' %}
{% block page.content %}
<div class="row">
   <div class="col-lg-4">
      <div class="panel widget">
         <div class="panel-body">
            <div class="row row-table">
               <div class="col-xs-12">
                  <h3 class="mt0">Peggy Peters</h3>
                  <ul class="list-unstyled">
                     <li class="mb-sm">
                        <em class="fa fa-map-marker fa-fw"></em>ASD, Qwerty</li>
                     <li class="mb-sm">
                        <em class="fa fa-twitter fa-fw"></em>@asdasd</li>
                     <li class="mb-sm">
                        <em class="fa fa-envelope fa-fw"></em>asdasd@mail.com</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="panel-body bg-inverse">
            <div class="row row-table text-center">
               <div class="col-xs-4">
                  <p class="m0 h3">700</p>
                  <p class="m0 text-muted">Followers</p>
               </div>
               <div class="col-xs-4">
                  <p class="m0 h3">1500</p>
                  <p class="m0 text-muted">Following</p>
               </div>
               <div class="col-xs-4">
                  <p class="m0 h3">510</p>
                  <p class="m0 text-muted">Loved</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}